/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_tree .
 *= require_self
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */
@import "bootstrap";
/* Some Style from the Bootstrap Default Theme */
body {
  background: url('roadtrip.jpg') no-repeat center center fixed;
}

.wrapper {
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.navbar-default {
  background-color: #c37744;
  border-color: #c37744;
  border-radius: 0px;
}
h1, h2, h3, h4, p {
  font-family: "Helvetica", sans-serif;
  font-weight: 300;
  line-height: 120%;
  margin: 0px 0 0px 0;
  color: white;
}

#roadtrip {
  font-size: 50px;
  font-family: fantasy;
}

label {
  color: white;
  font-size: 35px;
  font-family: fantasy;
}
.form-inline div { 
  display: inline-block;
  text-align: center;
}
.navbar-default .navbar-brand {
  color: white;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}

input, button, select, textarea {
  margin-left: 30px;
  margin-right: 30px;
}

.yelp-link {
  color:white;
}

.checkpoints {
  background-color: white;
  width: 65%;
  height: 100%;
  padding: 10px;
}
ul {
 list-style: none;
}
