// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#directions-panel {
  height: 500px;
  float: right;
  width: 390px;
  overflow: auto;
  background-color: white;
  margin-top: 20px;
  padding: 20px;
}

@media print {

  #directions-panel {
    float: none;
    width: auto;
  }
}

#map-canvas { 
  height: 500px; width: 650px; margin: 0; padding: 0;
}


.directions-container {
  overflow-y:auto;
}