<header id="header-full-top" class="hidden-xs header-full">
  <div class="navbar navbar-default " role="navigation">
   <div class="container-fluid">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="/">RoadTrip</a>
     </div>
     <div class="collapse navbar-collapse">
       <ul class="nav navbar-nav">
        <li id="back"><%= link_to 'Back', :back %></li>
        <li><%= login_logout_links %></li>
       </ul>
     </div><!-- navbar -->
    </div>
  </div>
</header>